MONGODB_URI=mongodb://localhost:27017
MONGO_DB=diagnosis_db
KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP=diagnosis-service-consumer
GRPC_PORT=50051
REST_PORT=8000

# [MOCK] Set to false and implement real_engine.py to use EfficientNet via TF Serving
USE_MOCK_INFERENCE=true

# [REAL] Only used when USE_MOCK_INFERENCE=false
MODEL_SERVING_URL=http://tf-serving:8501
MODEL_VERSION=latest
MIN_CONFIDENCE=0.65

LOG_LEVEL=debug
SENTRY_DSN=
