# Runtime
fastapi==0.111.0
uvicorn[standard]==0.29.0
pydantic==2.7.1
pydantic-settings==2.2.1
motor==3.4.0
pymongo==4.7.2
aiokafka==0.10.0
grpcio==1.63.0
grpcio-tools==1.63.0
structlog==24.1.0
sentry-sdk[fastapi]==1.45.0

# Test
pytest==8.2.0
pytest-asyncio==0.23.6
pytest-mock==3.14.0
mongomock-motor==0.0.21
