SOIL_DATABASE_URL=postgresql://agroconnect:agroconnect_dev@localhost:5433/soil_db
MARKET_SERVICE_URL=http://market-service:3003
JWT_PUBLIC_KEY=
LOG_LEVEL=info
SERVICE_NAME=soil-service
NODE_ENV=development
PORT=3009
