NOTIFICATION_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/notification_db
KAFKA_BROKERS=localhost:9092
FCM_SERVICE_ACCOUNT=
GOOGLE_APPLICATION_CREDENTIALS=
AT_API_KEY=
AT_USERNAME=
LOG_LEVEL=info
SERVICE_NAME=notification-service
NODE_ENV=development
PORT=3007
JWT_PUBLIC_KEY=
